@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-bg);
}
:root {
  --font-1: 'Libre Franklin', sans-serif;
  --font-2:  'Inter', sans-serif;
  --main-bg: #FBFBFB;
  --second-bg: #46565f;
  --secondary-color: #445964;
  --primary-color: #263138;
  --hover: #35434D;
  --hover2: #9b9b9b;
}
/*Navigation design*/
.primary-header {
  position: fixed;
  width: 100%;
  background-color: var(--main-bg);
  z-index: 1;
  padding: 1.2rem 10%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container .nav-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-container .nav-logo .owner {
  font-family: var(--font-2);
  font-weight: 800;
  font-size: 1.5rem;
  cursor: pointer;
}
.owner > a {
  text-decoration: none;
  color: var(--secondary-color);
}
.nav-list ul {
  display: flex;
  gap: 2rem;
}
.nav-list li {
  list-style: none;
}
.nav-list a {
  font-family: var(--font-2);
  color: var(--secondary-color);
  font-weight: 600;
  text-decoration: none;
}
/*mobile nav*/
.menu-cta {
  display: none;
}
.overlay {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: var(--second-bg);
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
  border-radius: 0 0 0 15px;
}
.overlay--active {
  width: 50%;
}
.overlay_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.mobile_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile_nav li {
  list-style: none;
  padding: 10px;
}
.mobile_nav a{
  text-decoration: none;
  font-family: var(--font-2);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--main-bg);
  transition: color 0.3s ease 0s;
}
.underline-hover {
  display: inline-block;
  position: relative;
  color: var(--hover);
}
.underline-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--hover);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.overlay a:hover,
.overlay a:focus {
  color: var(--hover2);
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  color: var(--main-bg);
}
/*Navigation design end*/

/*Home Screen Design*/
.default {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10% 0 10%;
}
.socials ul {
  display: flex;
  gap: 2rem;
}
.socials li {
  list-style: none;
}
.socials a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 2rem;
  line-height: 2;
}
.introduction .small-text {
  font-family: var(--font-1);
  font-size: 1.875rem;
  font-weight: 100;
  color: var(--secondary-color);
}
.introduction .my-role {
  font-family: var(--font-1);
  font-weight: 800;
  font-size: 2.5rem;
  color: var(--primary-color);
}
.illustration-dev img {
  max-width: 100%;
  height: auto;
}
/*btn*/
.primary-btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  line-height: 5;
}
.p-btn {
  background-color: var(--primary-color);
  color: var(--main-bg);
  padding: 0.75rem;
  font-size: 1rem;
  font-family: var(--font-2);
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.p-btn:hover {
  background-color: var(--hover);
  transition: all 0.2s ease-in-out;
}
.link-cta {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--font-2);
  font-weight: 500;
  font-size: 1rem;
}
.link-cta:hover {
  color: var(--hover2);
  transition: all 0.2s ease-in-out;
}
/*btn end*/
/*Home Screen Design end*/

/*About Section Design*/

/*About Section Design end*/

/*Media Query for navbar*/
@media (max-width: 675px) {
  .nav-list {
    display: none;
  }
  .menu-cta {
    display: inherit;
  }
}
/*Media Query for default screen*/
@media (max-width: 1050px) {
  .introduction .my-role {
    font-size: 3.5vw;
  }
}
@media (max-width: 919px) {
  .illustration-dev {
    display: none;
  }
  .introduction {
    text-align: center;
  }
  .introduction .my-role {
    font-size: 5.5vw;
  }
  .introduction .small-text {
    font-size: 5vw;
  }
  .socials ul {
    justify-content: center;
  }
  .primary-btn {
    justify-content: center;
  }
}
/*Media Query for small devices*/
@media (max-width: 550px) {
  .nav-logo img, .owner {
    width: 2.125rem;
  }
  .menu-cta span i {
    font-size: 1.5rem;
  }
  .socials a {
    font-size: 1.6rem;
  }
}
@media (max-width: 410px) {
  .primary-header {
    padding: 1.2rem 8%;
  }
  .p-btn {
    font-size: 0.8rem;
  }
  .link-cta {
    font-size: 0.8rem;
  }
  .overlay .close i {
    font-size: 1.5rem;
  }
  .mobile_nav a {
    font-size: 1rem;
  }
}